<% unless @entries.empty? %>
<%= render :partial => 'list', :locals => { :entries => @entries }%>
<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>
<%end%>
<p>
<% if User.current.allowed_to?(:create_contact,@project) %>
    <%= link_to 'new contact', new_project_contact_path(@project) %><br>
<%end%>
</p>